// google font
%font-NotoReg {
    font-family: 'Noto Sans TC' !important;
    font-weight: 400 !important;
}
%font-NotoMed {
    font-family: 'Noto Sans TC' !important;
    font-weight: 500 !important;
}
%font-NotoBlack {
    font-family: 'Noto Sans TC' !important;
    font-weight: 700 !important;
}